body{
    direction: rtl;

}
.header{
 text-align: center;
justify-content: center;
background-color: rgb(64, 71, 68);
border-radius: 10px;
display: block;
font-size: 50px;
color: aliceblue;
}
.main{
background-color: rgb(78, 76, 76);
border-radius: 30px;
display: flex;
}
.main_left{
background-color: rgb(57, 65, 63);
flex-grow:3 ;
}
.main_left,.main_right{
height: 400px;
margin: 10px;
border-radius: 30px;
text-align: center;
display: flex;
}
.main_right{
background-color: rgb(255, 255, 255);
flex-grow:1 ;
display: flex;
}
#footer{
background-color: rgb(133, 130, 132);
height: 250px;
text-align: center;
border-radius: 10px;
}
.nav_text{
    display: inline;
    border-radius: 10px;
    box-shadow:10px 5px 6px  rgb(138, 145, 137);
    margin: 10px;
    background-color: rgb(234, 245, 223);
    border-style: solid;
    border-color: rgb(63, 65, 59);
    padding: 10px;
    flex-grow: 1;
    justify-content: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav{
    display: flex;
    text-align: center;
    background-color: rgba(57, 117, 82, 0.692);
    border-radius: 8px;
}
a{
    text-decoration: none;
}
.picture{
    display: flex;
    width: 230px;
    height: 165px;
    margin: 5px;
    border-radius: 20px;
    border: 3px;
    border-style: solid;
    border-color: rgb(59, 58, 57);
}
.text_section{
    text-align:justify;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 0px 19px;
    display:inline;
    
}
.textarea{
    height: 90px;
    width: 300px;
    text-align: right;
    font-size: 20px;
    padding: 5px;
    margin-right: 25%;
}
.tex{
    font-size: 25px;
    color: aliceblue;
    margin: 10px;
    text-align: right;
    padding: 4px;
    background-color: rgba(70, 66, 66, 0.582);
    border-radius: 30px;
    text-align: center;
}
.value{
    height: 30px;
    width: 60px;
    font-size: 12px;
    margin: 5px;
    margin-right: 240px;
}
table, th, td{
    margin-top: 50px;
    border: 2px;
    border-style:solid;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.im{
    height: 200px;
    border-radius: 20px;
}
b{
    margin: 50px;
    font-size: 35px;
}
.p{
    font-size: 22px;
    margin: 50px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imd{
    width: 50%;
    margin-right: 280px;
    height: 600px;
    margin-top: 25px;
    border-radius: 20px;
}
.re{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    justify-content: center;
    
}
.container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
button {
    background-color: #1a5942;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.7;
}
.nav_text {
    background-color: #bdca70;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.nav_text:hover{
    opacity: 0.7;
}
.button{
    margin-top: 20px;
}

